<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/home.css"> <!-- Reference the CSS file -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <form method="post" action="/logout">
        <button type="submit" class="logout-button">Logout</button>
    </form>

    <div>
        <form method="post" action="/url">
            <label>Enter Your Original URL:</label>
            <input type="text" name="url" placeholder="https://example.com" />
            <br>
            <button type="submit">Generate</button>
        </form>
    </div>

    <% if (locals.id) { %>
        <p>Url Generated: <a href="http://localhost:3001/url/<%= id %>" target="_blank">http://localhost:3001/url/<%= id
                    %></a></p>
        <% } %>

            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Short ID</th>
                                <th>Redirect</th>
                                <th>Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td><a href="<%= url.redirectUrl %>">
                                            <%= url.shortId %>
                                        </a></td>
                                    <td><a href="<%= url.redirectUrl %>" target="_blank">
                                            <%= url.redirectUrl %>
                                        </a></td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>